:root
{
  --cor-fundo-claro: #19875470;
  --cor-letra-claro: #f3f3f3;
  --cor-letra-titulo: #001e2b;
  --cor-padrao-botao: #065731b0;

}

body
{
  text-align: center;
}

header
{
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-between;

  ul
  {
    display: flex;
    justify-content: space-between;
  }

  li
  {
    padding: 0 2rem;
    a
    {
      color: var(--cor-letra-titulo);
    }

    .login
    {
      padding: .5rem 1rem;
      background-color: var(--cor-padrao-botao);
      color: var(--cor-letra-claro);
      border-radius: 0.3rem;
    }
  }

}

main
{
  padding: 0 8rem;
  min-height: 75vh;
}

h1
{
  padding: 1rem 0;
  font-size: 4rem;
  color: var(--cor-letra-titulo);
}

h2
{
  font-size: 2rem;
  color: var(--cor-letra-titulo);
}

form
{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: .2rem;
}

input
{
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 30rem;
  background-color: var(--cor-fundo-claro);
  outline: none;
  border: none;
}

button
{
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 10rem;
  color: var(--cor-letra-claro);
  background-color: var(--cor-padrao-botao);
  outline: none;
  border: none;
}

footer
{
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 2rem 8rem;
  background-color: black;
  display: flex;
  justify-content: space-between;

  background-color: var(--cor-letra-titulo);
}

//==================================== CORES ============================
.section-main-menu
{

  margin: 3rem 0;
  //width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-menu
{
  text-align: start;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: var(--cor-fundo-claro);
  height: 15rem;
  width: 30rem;
  padding: 0 2rem 0 1.5rem;

  h2
  {
    position: relative;
    //right: 9rem;
    top: 8.5rem;
    font-size: 2rem;
    color: var(--cor-letra-titulo);
    font-weight: bold;
  }

  a
  {
    font-size: 1rem;
    border-radius: .5rem;
    position: relative;
    top: 10rem;
    //right: 170px;
    //bottom: 10rem;
    //margin-left: 1rem;
    padding: .5rem 1.5rem;
    color: var(--cor-letra-claro);
    background-color: var(--cor-padrao-botao);
  }

  div img
  {
    position: relative;
    top: 3.6rem;
    height: 10rem;
  }
  
}

//=============== CONFIGURAÇÃO MENU POR TIPO DE LOJA ===========

.pagina-estabelecimento
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  //gap: 2rem;
}

.apresentacao-estabelecimento
{
  margin-bottom: 1.5rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  gap: .5rem;
  align-items: center;
  background-color: var(--cor-fundo-claro);
  width: 30rem;
  border-radius: .5rem;

  img
  {
    height: 5rem;
  }

  .dados-estabelecimento
  {
    text-align: start;
  }

  .agendamento-botao
  {
    display: block;
    border-radius: .5rem;
    width: 5rem;
    margin-top: .5rem;
    padding: .5rem 1rem;
    color: var(--cor-letra-claro);
    background-color: var(--cor-padrao-botao);
  }

}

